.git
node_modules
dist
.env
.env.*
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next
*.tsbuildinfo
.vscode
CLAUDE.md
docs
docs/
.trigger

docker-compose.yml
redis-compose.yml

# Logs
logs/
*.log
*.log.*
*.log.*.*

teste.txt
teste.md
log.txt
instruction.md